# Import Libraries

In [1]:
# Import required libraries
import pandas as pd 
import numpy as np 
import os 
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Import Data

In [2]:
# Import Data
path = r"C:\Users\Mafalda\Documents\mafalda\Formação\Data Analytics\CareerFoundry\Data Analytics Program\2.Data Immersion\Achievement 6\Boat Sales Analysis"

In [3]:
df = pd.read_excel(os.path.join(path, '02 Data', 'Original Data', 'boat_data.xlsx'), index_col = False)

In [4]:
## Exploring Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9893 non-null   object
 1   Column2                      9888 non-null   float64
 2   Column1                      9892 non-null   object
 3   In euros                     9890 non-null   float64
 4   Boat Type                    9892 non-null   object
 5   Manufacturer                 8550 non-null   object
 6   Condition                    9882 non-null   object
 7   Fuel                         7596 non-null   object
 8   Year Built                   9888 non-null   float64
 9   Length                       9879 non-null   float64
 10  Width                        9832 non-null   float64
 11  Number of views last 7 days  9884 non-null   float64
 12  Material                     8139 non-null   object
 13  Country                      9852 non-null   object
 14  City                         8949 non-null   object
dtypes: float64(6), object(9)
memory usage: 1.1+ MB

In [5]:
df.head()

,Price,Column2,Column1,In euros,Boat Type,Manufacturer,Condition,Fuel,Year Built,Length,Width,Number of views last 7 days,Material,Country,City
0,CHF,1.06,3337,3537.22,Motor Yacht,Rigiflex power boats,new boat from stock,NaN,2017.0,4.00,1.90,226.0,NaN,Switzerland,Lake Geneva
1,EUR,1.00,3490,3490.00,Center console boat,Terhi power boats,new boat from stock,NaN,2020.0,4.00,1.50,75.0,Thermoplastic,Germany,BÃ¶nningstedt
2,CHF,1.06,3770,3996.20,Sport Boat,Marine power boats,new boat from stock,NaN,0.0,3.69,1.42,124.0,Aluminium,Switzerland,Lake of Zurich
3,DKK,0.13,25900,3367.00,Sport Boat,Pioner power boats,new boat from stock,NaN,2020.0,3.00,1.00,64.0,NaN,Denmark,Svendborg
4,EUR,1.00,3399,3399.00,Fishing Boat,Linder power boats,new boat from stock,NaN,2019.0,3.55,1.46,58.0,Aluminium,Germany,Bayern

In [6]:
df.tail()

,Price,Column2,Column1,In euros,Boat Type,Manufacturer,Condition,Fuel,Year Built,Length,Width,Number of views last 7 days,Material,Country,City
9888,CHF,1.06,4900,5194.0,Sport Boat,Sea Ray power boats,Used boat,Unleaded,1987.0,6.30,2.44,1116.0,NaN,Switzerland,Lago Maggiore
9889,EUR,1.00,4516,4516.0,Sport Boat,NaN,new boat from stock,NaN,0.0,4.17,1.68,94.0,GRP,Germany,Hamburg
9890,EUR,1.00,4499,4499.0,Sport Boat,BlueCraft power boats,new boat from stock,Unleaded,2020.0,4.40,1.80,354.0,GRP,Germany,Nordrhein-Westfalen
9891,EUR,1.00,4300,4300.0,Pontoon Boat,Whaly power boats,new boat from stock,NaN,2018.0,4.37,1.89,266.0,NaN,Italy,Dormelletto
9892,CHF,1.06,3780,4006.8,Fishing Boat,DarekCo power boats,new boat from stock,NaN,2019.0,3.60,1.60,194.0,GRP,Switzerland,Brienzersee

# Data Cleaning & Wrangling

In [7]:
# Data Cleaning & Wrangling
# Dropping columns
df=df.drop(columns=['Price','Column2','Column1','Fuel','City'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   In euros                     9890 non-null   float64
 1   Boat Type                    9892 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Condition                    9882 non-null   object
 4   Year Built                   9888 non-null   float64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Number of views last 7 days  9884 non-null   float64
 8   Material                     8139 non-null   object
 9   Country                      9852 non-null   object
dtypes: float64(5), object(5)
memory usage: 773.0+ KB

In [9]:
# Renaming Columns
df.rename(columns={'In euros':'Price' , 'Number of views last 7 days': 'Visits'}, inplace = True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         9890 non-null   float64
 1   Boat Type     9892 non-null   object
 2   Manufacturer  8550 non-null   object
 3   Condition     9882 non-null   object
 4   Year Built    9888 non-null   float64
 5   Length        9879 non-null   float64
 6   Width         9832 non-null   float64
 7   Visits        9884 non-null   float64
 8   Material      8139 non-null   object
 9   Country       9852 non-null   object
dtypes: float64(5), object(5)
memory usage: 773.0+ KB

In [11]:
df.head()

,Price,Boat Type,Manufacturer,Condition,Year Built,Length,Width,Visits,Material,Country
0,3537.22,Motor Yacht,Rigiflex power boats,new boat from stock,2017.0,4.00,1.90,226.0,NaN,Switzerland
1,3490.00,Center console boat,Terhi power boats,new boat from stock,2020.0,4.00,1.50,75.0,Thermoplastic,Germany
2,3996.20,Sport Boat,Marine power boats,new boat from stock,0.0,3.69,1.42,124.0,Aluminium,Switzerland
3,3367.00,Sport Boat,Pioner power boats,new boat from stock,2020.0,3.00,1.00,64.0,NaN,Denmark
4,3399.00,Fishing Boat,Linder power boats,new boat from stock,2019.0,3.55,1.46,58.0,Aluminium,Germany

# Data Consistency Checks

In [12]:
# Checking for duplicates
df_dups = df[df.duplicated()]

In [13]:
df_dups

Empty DataFrame
Columns: [Price, Boat Type, Manufacturer, Condition, Year Built, Length, Width, Visits, Material, Country]
Index: []

In [14]:
## No duplicated values found

In [15]:
# Checking for missing values
df.isnull().sum()

Price              3
Boat Type          1
Manufacturer    1343
Condition         11
Year Built         5
Length            14
Width             61
Visits             9
Material        1754
Country           41
dtype: int64

In [16]:
### There are very few missing values found,and with the exception of the Manufacturer and the Material columns, the percentage is zero, insignificant, so i will replce de values with the column mean.
### The Manufacturer and Material Values have higher percentages 16% and 22% of their global values, i will keep them as NaN values

In [17]:
# Filling missing values with the mean values ( numeric columns)
df.describe()

              Price   Year Built       Length        Width       Visits
count  9.890000e+03  9888.000000  9879.000000  9832.000000  9884.000000
mean   3.032715e+05  1893.192860    11.570017     3.520124   149.177459
std    9.712014e+05   460.201582     6.002820     1.220534   151.843104
min    0.000000e+00     0.000000     1.040000     0.010000    13.000000
25%    4.300000e+04  1996.000000     7.470000     2.540000    70.000000
50%    9.395000e+04  2007.000000    10.280000     3.330000   108.000000
75%    2.490000e+05  2017.000000    13.930000     4.250000   172.000000
max    3.100000e+07  2021.000000   100.000000    25.160000  3263.000000

In [18]:
df['Price'].fillna(3.032715e+05, inplace=True)

In [19]:
df['Year Built'].fillna(1893.192860, inplace=True)

In [20]:
df['Length'].fillna(11.570017, inplace=True)

In [21]:
df['Width'].fillna(3.520124, inplace=True)

In [22]:
df['Visits'].fillna(149.177459, inplace=True)

In [23]:
df.isnull().sum()

Price              0
Boat Type          1
Manufacturer    1343
Condition         11
Year Built         0
Length             0
Width              0
Visits             0
Material        1754
Country           41
dtype: int64

In [24]:
df['Boat Type'].fillna('Other', inplace=True)

In [25]:
df['Manufacturer'].fillna('Other', inplace=True)

In [26]:
df['Condition'].fillna('Other', inplace=True)

In [27]:
df['Material'].fillna('Other', inplace=True)

In [28]:
df['Country'].fillna('Other', inplace=True)

In [29]:
df.isnull().sum()

Price           0
Boat Type       0
Manufacturer    0
Condition       0
Year Built      0
Length          0
Width           0
Visits          0
Material        0
Country         0
dtype: int64

In [30]:
### No more missing values left

In [31]:
# Changing Data Types
df['Price'] = df['Price'].astype('int')
df['Year Built'] = df['Year Built'].astype('int')
df['Visits'] = df['Visits'].astype('int')

In [32]:
# Changing Data Types
df['Boat Type'] = df['Boat Type'].astype('str')
df['Manufacturer'] = df['Manufacturer'].astype('str')
df['Condition'] = df['Condition'].astype('str')
df['Material'] = df['Material'].astype('str')
df['Country'] = df['Country'].astype('str')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         9893 non-null   int32
 1   Boat Type     9893 non-null   object
 2   Manufacturer  9893 non-null   object
 3   Condition     9893 non-null   object
 4   Year Built    9893 non-null   int32
 5   Length        9893 non-null   float64
 6   Width         9893 non-null   float64
 7   Visits        9893 non-null   int32
 8   Material      9893 non-null   object
 9   Country       9893 non-null   object
dtypes: float64(2), int32(3), object(5)
memory usage: 657.1+ KB

In [34]:
df.head()

,Price,Boat Type,Manufacturer,Condition,Year Built,Length,Width,Visits,Material,Country
0,3537,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,226,Other,Switzerland
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,75,Thermoplastic,Germany
2,3996,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,124,Aluminium,Switzerland
3,3367,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,64,Other,Denmark
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,58,Aluminium,Germany

In [35]:
df.tail()

,Price,Boat Type,Manufacturer,Condition,Year Built,Length,Width,Visits,Material,Country
9888,5194,Sport Boat,Sea Ray power boats,Used boat,1987,6.30,2.44,1116,Other,Switzerland
9889,4516,Sport Boat,Other,new boat from stock,0,4.17,1.68,94,GRP,Germany
9890,4499,Sport Boat,BlueCraft power boats,new boat from stock,2020,4.40,1.80,354,GRP,Germany
9891,4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,266,Other,Italy
9892,4006,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,194,GRP,Switzerland

In [36]:
df.describe()

              Price   Year Built       Length        Width       Visits
count  9.893000e+03  9893.000000  9893.000000  9893.000000  9893.000000
mean   3.032715e+05  1893.192763    11.570017     3.520124   149.177297
std    9.710542e+05   460.085261     5.998570     1.216765   151.774013
min    0.000000e+00     0.000000     1.040000     0.010000    13.000000
25%    4.300000e+04  1996.000000     7.470000     2.550000    70.000000
50%    9.400000e+04  2007.000000    10.300000     3.350000   108.000000
75%    2.490000e+05  2017.000000    13.920000     4.250000   172.000000
max    3.100000e+07  2021.000000   100.000000    25.160000  3263.000000

# Exporting Data

In [37]:
# Checking output size
df.shape

(9893, 10)

In [1]:
# Export data to csv
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'boat_data_wrangled.csv')

SyntaxError: incomplete input (857257286.py, line 2)

In [39]:
# Export data to pkl
df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'boat_data_wrangled.pkl'))